*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData
*.xcuserstate
.DS_Store
build/
*.hmap
*.ipa
**/.DS_Store
*.xcbkptlist
.Trashes
#### http://stackoverflow.com/questions/49478/git-ignore-file-for-xcode-projects
# Xcode temporary files that should never be committed
# 
# NB: NIB/XIB files still exist even on Storyboard projects, so we want this...
  
*~.nib
ICS/ICS/AppDelegate.h
ICS/ICS/AppDelegate.m
ICS/ICS/Base.lproj/LaunchScreen.xib
ICS/ICS/Base.lproj/Main.storyboard
ICS/ICS/Cells/CustomFormButtonCell.h
ICS/ICS/Cells/CustomFormButtonCell.m
ICS/ICS/Cells/CustomFormButtonCell.xib
ICS/ICS/Cells/DoctorInformationCell.h
ICS/ICS/Cells/DoctorInformationCell.m
ICS/ICS/Cells/DoctorInformationCell.xib
ICS/ICS/Cells/EventDetailTableViewCell.h
ICS/ICS/Cells/EventDetailTableViewCell.m
ICS/ICS/Cells/ICSCustomRowDescriptor.h
ICS/ICS/Controllers/Home/ICSHomeViewController.h
ICS/ICS/Controllers/Onboarding/VolunteerSignUpViewController.h
ICS/ICS/Controllers/Onboarding/VolunteerSignUpViewController.m
ICS/ICS/Controllers/PatientEatingHabitsViewController.h
ICS/ICS/Controllers/PatientEatingHabitsViewController.m
ICS/ICS/Controllers/PatientInformationViewController.h
ICS/ICS/Controllers/PatientInformationViewController.m
ICS/ICS/Controllers/PatientsList/ICSPatientsListViewController.h
ICS/ICS/Controllers/PatientsList/ICSPatientsListViewController.m
ICS/ICS/Controllers/PhotoViewController.h
ICS/ICS/Controllers/PhotoViewController.m
ICS/ICS/ETs/Reachability/Reachability.h
ICS/ICS/ETs/Reachability/Reachability.m
ICS/ICS/ICS/AppDelegate.h
ICS/ICS/ICS/AppDelegate.m
ICS/ICS/ICS/Base.lproj/LaunchScreen.xib
ICS/ICS/ICS/Base.lproj/Main.storyboard
ICS/ICS/ICS/Cells/CustomFormButtonCell.h
ICS/ICS/ICS/Cells/CustomFormButtonCell.m
ICS/ICS/ICS/Cells/CustomFormButtonCell.xib
ICS/ICS/ICS/Cells/DoctorInformationCell.h
ICS/ICS/ICS/Cells/DoctorInformationCell.m
ICS/ICS/ICS/Cells/DoctorInformationCell.xib